## Project Description: A/B Testing for E-commerce Conversion Optimization
### Objective
An e-commerce company has developed a new web page aiming to increase user conversion rates. Our goal is to analyze the results of an A/B test comparing the new page and the old page to determine whether the company should implement the new page, keep the old page, or extend the experiment.

We will use statistical hypothesis testing and Python-based data analysis to evaluate whether there is a significant difference in conversion rates between the two versions.

A/B testing is a statistical method used to compare two versions of a web page to determine which one performs better in terms of user conversion. The goal of this analysis is to evaluate whether the new page significantly improves conversion rates compared to the old page.

In [ ]:
import pandas as pd

# Importing the Datasets
df_ab = pd.read_csv('ab_data.csv')
df_country = pd.read_csv('countries.csv')
df_ab

        user_id country
0        834778      UK
1        928468      US
2        822059      UK
3        711597      UK
4        710616      UK
...         ...     ...
290581   799368      UK
290582   655535      CA
290583   934996      UK
290584   759899      US
290585   643532      US

[290586 rows x 2 columns]